<div class="page-module">
    <h2>Choose Your Module</h2>
    <div class="module-options">
        <button class="module-option" data-value="crescendo">
            Crescendo
        </button>
        <button class="module-option" data-value="high-fantasy">
            High Fantasy
        </button>
        <button class="module-option" data-value="fire-hunters">
            Fire Hunters
        </button>
    </div>

    <div id="levelConfigContainer" class="level-selection-container is-hidden">
        <label id="levelConfigLabel" for="levelConfigInput">Starting Level:</label>
        <input type="number" id="levelConfigInput" class="level-selector" min="1" max="20" value="1" disabled>
    </div>
</div>